<div class="footer">
  <div class="credit">
    <span>{{ site.credit.action }}</span>
    <a href={{site.credit.link}} target="_blank" rel="noopener noreferrer">{{ site.credit.name }}</a> · {{ site.credit.year }}
  </div>
</div>
